<!DOCTYPE html>

<html>
  <%-include('base/meta.ejs')%>
  <body>
    <%-include('base/navbar.ejs')%>
    <div id="log">
      <table>
        <tr>
          <th>level</th><th>file</th><th>timestamp</th><th>message</th>
        </tr>
        <% for (const stuff of stuffs) { %>
          <tr>
            <td id="level"><%= stuff.level %></td>
            <td id="label"><%= stuff.label %></td>
            <td id="timestamp"><%= stuff.timestamp %></td>
            <td id="message"><%= stuff.message %></td>
          </tr>
        <% } %>
      </table>
    </div>
  </body>
</html>
